$backgroundcolor: #f8f8f8;
$primarycolor: #395ff7;
$accentcolor: red;

@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: lighten($backgroundcolor, 20%);
}

body {
  max-width: 800px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 40px 0;
  color: $primarycolor;
  background-color: $backgroundcolor;
  font-family: sans-serif;

  header {
    height: 80px;
    background-color: lighten($primarycolor, 25%);

    img {
      width: 60px;
      height: 60px;
      margin: 10px;
      margin-left: 30px;
      border-radius: 50%;
    }

    button {
      float: right;
      margin: 24px 20px 24px 0;
      padding: 9.5px;

      &:hover {
        color: $accentcolor;
        cursor: pointer;
      }
    }

    input {
      float: right;
      box-sizing: border-box;
      margin: 25px -2px 25px 10px;
      padding: 5px;
      height: 30px;
      width: 140px;
      transition: 0.25s;
    }
  }

  h1 {
    text-align: center;
    margin: 80px 20px;

    i {
      color: $accentcolor;
    }
  }

  .error {
    color: $accentcolor;
  }

  li {
    margin: 0 20px;
    text-decoration: none;
    font-size: 120%;
    color: $primarycolor;
    transition: 0.25s;

    &:hover {
      color: darken($primarycolor, 25%);
    }

    a {
      cursor: pointer;
      color: inherit;
      text-decoration: inherit;
      transition: 0.25s;

      &:hover {
        color: $accentcolor;
      }

      i {
        margin-left: 10px;
      }
    }

  }

}
